.doneBtn {
  font-size: 50px;
  display: block;
  margin: 0 auto;
  float: none;
  position: relative;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
  &:focus{
    outline: none;
  }
}

.navbar-brand:hover{
  cursor: default;
}

i.doneBtn{
  float: left;
  margin-right: 2px;
  color: white;
}

.disabled{
  cursor: default !important;
}

.btn{
  cursor: pointer;
  background-color: grey;
}

.removeBtn{
  cursor: pointer;
  margin-left: 20px;
}


.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

li{
  a:focus{
    outline: none;
  }
}

main {
  h1{
    @media(max-width:767px){
      font-size: 30px;
    }
    color: white;
  }
  li{
    font-size: 30px;
    word-break: break-all;
  }
}

.form-check-input{
  display: inline-block;
  margin: 0;
  right: 0;
  top: 18px;
  @media(max-width:767px){
    zoom: 1.5;
  }
  zoom: 2.5;
}

.arrow{
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover{
    cursor: pointer;
  }
}

.moveArrows{
  right: 0;
}

.todo-list, .done-list{
  border: 1px solid black;
  background-color: #294250;
}

.list-group-item{
	border: 1px solid black;
  padding-left: 20px;
}
